#!/bin/bash
#
# Configuration for convenience bash scripts

# Specify wxHexEditor path here:
export HEXEDITOR="../wxHexEditor/wxHexEditor"

# Only blocks in the range $MIN_BLOCK_TAGS - $MAX_BLOCK_TAGS receive tags:
# (Note that setting MIN_BLOCK_TAGS to anything other than 0 will prevent the
# psql remote download fallback from being used.  This is due to an
# implementation restriction that may be lifted in the future.)
export MIN_BLOCK_TAGS=0
export MAX_BLOCK_TAGS=200

# Sets BytesPerLineLimit:
export BYTES_PER_LINE_LIMIT=32

# Sets FontSize -- value of 8 works well on high resolution displays:
export FONTSIZE=10

# psql can pick up these environment variables (see
# https://www.postgresql.org/docs/current/static/libpq-envars.html):
#export PGDATABASE="regression"
#export PGUSER="postgres"
#export PGPASSWORD="password"
#export PGHOST=localhost
#export PGPORT=5432

# -x flag in $EXTRAFLAGS: Don't emit annotations for pages where the page
# header LSN is before argument.
#
# This is helpful when you want to limit the overhead of tags by excluding all
# pages from the target relation that were not modified recently.
#
# Tip: The latest checkpoint's REDO location can be a helpful generic cutoff
# point.  Run pg_controldata to get this information:
#
# $ pg_controldata $PGDATA | grep location
#
# In most scenarios where pg_hexedit is used to debug an issue (or learn about
# some aspect of Postgres internals), you will probably only need to figure out
# a cutoff LSN once, before you really begin work.  From there you can
# continually make changes to the relation (e.g. from a psql session running
# DML statements), while still only seeing annotations for newly modified
# pages when pg_hexedit is invoked and reinvoked.
#
# (Of course you'll have to issue manual CHECKPOINT statements to make sure
# that the changes make it out to the FS each time, before reruninng/reinvoking
# the convenience script you're using .)

#export EXTRAFLAGS="-x 0/167F070"

# -l flag in $EXTRAFLAGS: Only emit whole-page annotations for leaf pages.
#
# Leaf pages are typically the great majority within nbtree, GiST, GIN, or
# SP-GiST index relations.  This option is useful with larger indexes in cases
# where only the root and other internal pages are of interest.

#export EXTRAFLAGS="-l"
